

<tr>
    <td>
        <div style="margin-left:{{ 40*message.depth }}px">
            {{ message.author.name }}<br>
            {{ message.mes_text }}<br>
            {{ message.sends_time }}<br>
            {% if message.id != parent_id %}
                <a href="{{url_for('chat', chat_id=chat.id, parent_id=message.id)}}">Answer</a>
            {% endif %}
            {% if message.id == parent_id %}
            {{ wtf.quick_form(form) }}
            {% endif %}

            {% for message in message.child_list %}
                {% include '_message.html' %}
            {% endfor %}
        </div>
    </td>
</tr>
