
<!-- шаблон страницы пользователя, наследуется от base.html -->

{% extends "base.html" %}

{% block content %}
    <table>
        <tr>
            {% if profile.avatar() %}
                <td><img src ="{{ profile.avatar() }}" alt="avatar" width="150" ></td>
            {% endif %}
            <td>
                <h1>User: {{ user.name }}</h1>
                {% if profile.about %}<p>about me: {{ profile.about }}</p>{% endif %}
                {% if profile.biography %}<p>my biography: {{ profile.biography }}</p>{% endif %}
                {% if user == current_user %}
                    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}
