
<!-- шаблон страницы пользователя, наследуется от base.html -->

{% extends "base.html" %}

{% block content %}
    <table>
        <tr>
            <td><img src =""></td>
            <td>
                <h1>User: {{ user.name }}</h1>
                {% if profile.about %}<p>about me: {{ profile.about }}</p>{% endif %}
                {% if profile.biography %}<p>my biography: {{ profile.biography }}</p>{% endif %}
            </td>
        </tr>
    </table>
    <br>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}
